RewriteEngine On

#add your login in the rewrite rule
RewriteBase /~pannell/3132GroupProject
RewriteCond %{REQUEST_URI} !/css
RewriteCond %{REQUEST_URI} !/js
RewriteCond %{REQUEST_URI} !/img
RewriteRule ^(.+)/(.+)/?([a-zA-Z0-9/]*)$ index.cgi?class=$1&method=$2 [QSA,L]
RewriteRule ^$ index.cgi
